<footer>
    <div class="footer-container">
        <!-- Sección de Información -->
        <div class="footer-info">
            <h4>INFORMACIÓN</h4>
            <ul>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Nuestro equipo</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
        </div>

        <!-- Sección de Redes Sociales -->
        <div class="footer-social">
            <h4>REDES</h4>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-discord"></i></a>
        </div>

        <!-- Sección de Formulario -->
        <div class="footer-contact">
            <h4>¿DUDAS? ¡CONTANOS!</h4>
            <form>
                <input type="text" id="name" name="name" placeholder="Nombre">
                <input type="email" id="email" name="email" placeholder="Correo">
                <textarea id="message" name="message" placeholder="Consulta"></textarea>
                <button type="submit">ENVIAR</button>
            </form>
        </div>
    </div>
    <p class="footer-copyright">© Copyright 2024 Overall Argentina</p>
</footer>