<body class="Body" > <!-- Comienzo Body-->
        
        {{>nav}}
        <!--comienzo CABEERA-->
        <header>
            <div class="iconopregunta">
                <h1>Preguntas frecuentes <img class="ppp" src="faq_resources/logooverall/iconopregunta.png" alt="aks"></h1>
            </div>
            
            
            <div class="indice">Indice de Contenido</div>
                <ol class="question">
                    <li> ¿Comó registrarme?</li>
                    <li> ¿Comó contratar un servicio?</li>
                    <li> ¿Qué seguridad brinda la pagina?</li>
                    <li> ¿Comó denunciar a un usuario?</li>
                    <li> ¿Comó realizar un pago?</li>
                </ol>       
        </header>
        

        <!--Comienzo main-->
        <div class="container">
            <div class="row">
                <div class="container-faq">
                    <div class="tittle-flaq">
                        
                    </div>

                    <div class="item-faq">
                        <div class="preguntas">
                            <h2>¿Comó registrarme? <span>.</span></h2>
                            <div class="more"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></div>
                        </div>
                        <div class="respuesta">
                            <ol class="registro">
                                <li>Busca el icono de perfil: está en la parte superior del menú de navegación.</li>
                                <li>Haz clic en el botón: Esto te llevará a una página donde deberás llenar un formulario con tus datos.</li>
                                <li>Completa el formulario de registro.</li>
                                <li>Acepta los términos y políticas de privacidad. Asegúrate de leerlos.</li>
                                <li>Haz clic en "Registrar": Una vez que hayas completado el formulario. Y listo, ya eres parte de Overall!</li>
                            </ol>
                        </div>
                    </div> 


                    <div class="item-faq">
                        <div class="preguntas">
                            <h2>¿Comó contratar un servicio? <span>.</span></h2>
                            <div class="more"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></div>
                        </div>
                        <div class="respuesta">
                            <ol class="registro">
                                <li>Dirígete a la barra de búsqueda e ingresa la categoría del especialista que necesitas. </li>
                                <li>Haz clic en el perfil deseado para consultar los datos de contacto del especialista, ver fotos de trabajos previos, reseñas de usuarios, y más.</li>
                                <li>Inicia la comunicación a través del medio de contacto proporcionado en el perfil.</li>
                                <li>Acuerda los detalles y cotizaciones directamente con el especialista para concretar el trabajo.</li>
                            </ol>
                                
                            
                        </div>
                    </div> 


                    <div class="item-faq">
                        <div class="preguntas">
                            <h2>¿Qué seguridad brinda la pagina? <span>.</span></h2>
                            <div class="more"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></div>
                        </div>
                        <div class="respuesta">
                            <p>
                                Como portal de empleo que se enfoca en conectar a las personas de manera profesional, valoramos profundamente la transparencia y la seguridad de nuestros usuarios.
                                Por eso, ofrecemos un sistema de reseñas, calificaciones y opiniones que permite a los usuarios evaluar el perfil de los técnicos. Nuestro objetivo es garantizar la satisfacción del usuario; por lo tanto, también habilitamos la opción de denunciar perfiles de especialistas que no cumplan con lo acordado.
                            </p>
                        </div>
                    </div> 


                    <div class="item-faq">
                        <div class="preguntas">
                            <h2>¿Comó denunciar a un usuario? <span>.</span></h2>
                            <div class="more"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></div>
                        </div>
                        <div class="respuesta">
                            <p>
                                Para denunciar a usuarios, utiliza el canal de consultas y envía una queja que incluya el nombre de usuario a denunciar y la fecha del incidente. Desde Overall, haremos un seguimiento a tu reclamo a través de una cadena de correos electrónicos, donde te solicitaremos información adicional sobre lo ocurrido. Si es necesario, procederemos a suspender la cuenta denunciada.
                            </p>
                        </div>
                    </div> 

                    <div class="item-faq">
                        <div class="preguntas">
                            <h2>¿Comó realizar un pago? <span>.</span></h2>
                            <div class="more"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></div>
                        </div>
                        <div class="respuesta">
                            <p>
                                El método de pago se acordará mutuamente entre el usuario y el especialista.

                            </p>
                        </div>
                    </div> 



                </div>
            </div>
        </div>
        
        
        {{>footer}}

        <!--Comienzo Footer-->
        <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
        <script src="faq_resources/src/app.js"></script>
        <script src="faq_resources/src/nav.js"></script>
        <!--Fin Footer-->

        </body>