
    


<body class="Body" > <!-- Comienzo Body-->
        
        {{>nav}}

        
            <header class="Header" >
            
        <div class="buscador_container">
            <!-- BUSCADOR -->
            <form class="buscador" action="#GET">
                <label for="busqueda">¿Que servicios necesitas?</label>
                <input type="text" name="busqueda" id="busqueda">
                
            </form>
            <!-- CONTENEDOR DE FILTROS -->
            <div class="filtros">
                <a href="#busquedafiltrada">
                    <i class="fa-solid fa-hammer"></i>
 
                </a>
                <a href="#busquedafiltrada">
                    <i class="fa-solid fa-bolt"></i>
                </a>
                <a href="#busquedafiltrada">
                    <i class="fa-solid fa-brush"></i>
                </a>
                <a href="#busquedafiltrada">
                    
                    <i class="fa-solid fa-trowel"></i>
                </a>
                <a href="#busquedafiltrada">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="#busquedafiltrada">
                    <i class="fa-solid fa-wrench"></i>
                </a>
                <a href="#busquedafiltrada">
                    <i class="fa-solid fa-lock"></i>
                </a>
            </div>
        </div>
    </header>

    <main class="Main" >
        <!-- SECCION DE RECOMENDADOS -->
        <article class="Recomendados">
            <h2>Nuestras Recomendaciones</h2>
            <!-- CARDS -->
            <section>
            <div class="recomendados-card">
                <figure class="recomendados-mainpic">
                    <img src="main_resources/styles/assets/recomendación 1.png" alt="especialista_recomendado">
                </figure>
                <div class="recomendados-content">
                    <figure class="recomendados-profile"><img src="main_resources/styles/assets/perfil 3.png" alt="foto_perfil_especialista"></figure>
                    <div>
                    <h5 class="recomendados-title">Pablo Rodriguez</h5>
                    <p class="recomendados-sub">Electricista</p>
                    </div>
                </div>
            </div>
            
            <div class="recomendados-card">
                <figure class="recomendados-mainpic">
                    <img src="main_resources/styles/assets/recomendación 2.png" alt="especialista_recomendado">
                </figure>
                <div class="recomendados-content">
                    <figure class="recomendados-profile"><img src="main_resources/styles/assets/perfil 4.png" alt="foto_perfil_especialista"></figure>
                    <div>
                    <h5 class="recomendados-title">Nicolas Dominguez </h5>
                    <p class="recomendados-sub">Electricista</p>
                    </div>
                </div>
            </div>

            <div class="recomendados-card">
                <figure class="recomendados-mainpic">
                    <img src="main_resources/styles/assets/recomendación 3.png" alt="especialista_recomendado">
                </figure>
                <div class="recomendados-content">
                    <figure class="recomendados-profile"><img src="main_resources/styles/assets/perfil 3.png" alt="foto_perfil_especialista"></figure>
                    <div>
                    <h5 class="recomendados-title">Jose Gonzalez </h5>
                    <p class="recomendados-sub">Plomero</p>
                    </div>
                </div>
            </div>
            
            
            </section>

            
        </article>    

        <article class="opcontainer">
            <div class="testimonios-title">
                <h3>Testimonios</h3>
                <p>Nuestros usuarios nos cuentan sus experiencias</p>
            </div>
            <section>
                <div class="opiniones">
                    <figure class="profile"><img src=main_resources/"styles/assets/Brian.png" alt="user01"></figure>
                    <h6 class="user">Brian</h6>
                    <p>“Gracias a Overall puedo solucionar las instalaciones de mi hogar rapidamente”</p>
                </div>
                <div class="opiniones">
                    <figure class="profile"><img src="main_resources/styles/assets/Karina.png" alt="user01"></figure>
                    <h6 class="user">Karina</h6>
                    <p>“Buena pagina, facil de usar”</p>
                </div>
                <div class="opiniones">
                    <figure class="profile"><img src="main_resources/styles/assets/Favio.png" alt="user01"></figure>
                    <h6 class="user">Favio</h6>
                    <p>“Me genera un incremento en mi trabajo”</p>
                </div>
                
            </section>
        </article>

        <div class="about-us">
            <figure><img src="main_resources/styles/assets/man fixing washing machine.png" alt="man fixing washing machine"> </figure>
            <h3>Sobre nosotros</h3>
            <figure><img src="main_resources/styles/assets/Woman is looking for perfect candidate.png" alt="Woman is looking"> </figure>
        </div>
        
        <article class="about">
            <div class="about-content">
                <p>“Nuestro objetivo es Brindar visibilidad y confianza a especialistas del hogar, con usuarios que requieran sus servicios creando un sitio donde tanto consumidor como trabajador puedan encontrar lo que necesitan y sentirse seguro sobre ello.”
                </p>
            </div>
            <figure></figure>
        </article>
        
        <article>
            <h2>Equipo</h2>
            <div class="team-container">
                <div>
                    <figure><img src="main_resources/styles/assets/Melina Bovarines.png" alt="Melina_Bovarines"></figure> <figcaption>Melina Bovarines</figcaption>
                </div>

                <div>
                    <figure><img src="main_resources/styles/assets/Franco.jpeg" alt="Franco_Lens"></figure><figcaption>Franco Lens</figcaption></div>
                <div>
                    <figure><img src="main_resources/styles/assets/Abigail Pereira.png" alt="Abigail_Pereira"></figure><figcaption>Abigail Pereira</figcaption></div>
                <div>
                    <figure><img src="main_resources/styles/assets/Misael Garcia.png" alt="Misael_Garcia"></figure><figcaption>Misael Garcia</figcaption></div>
                <div>
                    <figure><img src="main_resources/styles/assets/Rodrigo.jpg" alt="Rodrigo_Vera"></figure><figcaption>Rodrigo Vera</figcaption></div>
                <div>
                    <figure><img src="main_resources/styles/assets/Sofia.png" alt="Sofia_Nuñez"></figure><figcaption>Sofia Nuñez</figcaption></div>
            </div>
        </article>

    </main>


    <!--Comienzo Footer-->
        {{>footer}}

        <script type="module" src="main_resources/src/app.js" ></script>
        <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    </body>
    
    
    {{!-- {{>footer}}
    <script type="module" src="main_resources/src/app.js" ></script>
</body> --}}
