
<body>
    <div class="container">
        <form action="#" class="form-content ">
            <h1>Bienvenido a OverAll</h1>
            <div class="input-group">


                <label for="correo" class="">Correo Electronico</label>
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="correo" class="input-field fa-user" placeholder="Correo electronico">
                </div>

                <label for="pas">Contraseña</label>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="pas" class="input-field" placeholder="Contraseña">
                </div>
                <div class="btn-field">
                <button >Iniciar Sesion</button>
                <div class="help">
                    <a href="#"> ¿Olvidaste tu contraseña?</a>
                    <p> ¿Todavia no estas en OverAll?<a href="#">Registrate</a></p>
                    
                </div>


                
                </div>
            </div>

        </form>
    </div>
</body>
